body {
    height: 100%;
    margin: 2% 18% 5% 25%;
    padding: 0px;
    font-family: 'Noto Sans', Sans-Serif;
    font-size: 100%;
    line-height: 120%;
}
h1 {
    text-align: center;
    font-size: 160%;
}
.contacts {
    line-height: 25%;
    font-size: 80%;
    text-align: center;
}
p {
}
div {
}
h2 {
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 3%;
    font-style: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
}
    td.year {
        text-align: right;
    }
.comment {
    font-style: italic;
}